.header {
    margin: 0;
    padding: 12px;
    list-style: none;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 16px;

    &__icon {
        cursor: pointer;
    }

    &--icons {
        display: flex;
        gap: 9px;
    }
}