.cmp-definition {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--stats {
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__title {
        font-family: $font-family-title;
        font-weight: 900;
        font-size: 28px;
        color: $brand-color;
    }

    &__subtitle {
        text-align: center;
        font-size: 16px;
        color: $white;
        margin-bottom: 21px;
        font-weight: 300;

        span {
            font-weight: 700;
        }
    }

    &__date {
        font-size: 18px;
        color: $brand-color;
        width: 100%;
        text-align: center;
        margin-top: 30px;
        display: none;

        .swiper-slide & {
            display: block;
        }
    }

    &-subsection {

        margin-bottom: 21px;

        &__title {
            font-size: 16px;
            font-weight: 300;
            color: $brand-color;
            margin-bottom: 10px;
        }

        &__content {
            font-size: 13px;
        }
    }

    &__title-wrapper {
        position: relative;
    }

    &__title-icon {
        position: absolute;

        &--left-top {
            top: -10px;
            left: -23px;
        }

        &--left-center {
            top: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            left: -25px;
        }

        &--left-bottom {
            bottom: -10px;
            left: -23px;
        }

        &--right-top {
            top: -10px;
            right: -23px;
        }

        &--right-center {
            top: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            right: -23px;
        }

        &--right-bottom {
            bottom: -10px;
            right: -23px;
        }
    }

    &__state {
        position: relative;
        font-weight: 600;
        margin-bottom: 30px;
        margin-top: 7px;
        text-align: center;


        .modal-result &,.modal-stats & {
            padding-left: 17px;
        }

        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 10px;
            height: 1px;
            background: $brand-color;
            right: -24px;
            top: 50%;

            .modal-result &, .modal-stats & {
                display: none;
            }
        }

        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 10px;
            height: 1px;
            background: $brand-color;
            left: -24px;
            top: 50%;

            .modal-result &, .modal-stats & {
                width: 7px;
                height: 7px;
                left: 0;
                top: 7px;
            }
        }
    }

    &__text {
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 15px;

        .modal-stats & {
            font-size: 14px;
        }
        li {
            text-align: left;
        }

        li::marker {
            font-weight: 700;
            font-family: $font-family-title;
            color: $brand-color;
            font-size: 16px;
        }
    }

    &__your-text {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 20px;
        border-radius: 8px;
        border: 1px solid $white;
        padding: 8px 15px;
        position: relative;
    }

    &__your-text-label {
        position: absolute;   
        top: -10px;
        left: 30px;
        color: $brand-color;
        background: $black;
        font-weight: 400;
        padding: 0 5px;
        font-size: 14px;
    }

    &__your-text-text {
        margin-top: 10px;
        margin-bottom: 30px;
        text-align: left;
        font-size: 13px;
    }

    &__your-text-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .result & {
        text-align: center;
    }
}