.cmp-stats {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__item-number {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $brand-color;
        border-radius: 8px;
        color: $black;
        font-size: 32px;
        font-family: $font-family-title;
        font-weight: 700;
    }

    &__item-label { 
        width: 60px;
        text-align: center;
        margin-top: 5px;
        font-weight: 300;
    }
}