.modal {
    padding: 42px;
    position: absolute;
    height: 100%;
    top: -300%;
    left: 0;
    right: 0;
    background-color: $black;
    transition: top 0.4s ease-in-out;
    max-width: 600px;
    margin: 0 auto;
    padding: 30px 50px;
    z-index: 100;
    -webkit-transform: translate3d(0, 0, 1);
    transform: translate3d(0, 0, 1);

    &--active {
        top: 0;
    }

    &-wrapper {
        position: relative;
    }

    &__close {
        position: absolute;
        cursor: pointer;
        top: 16px;
        right: 16px;
    }

    &__title, &__text, &__icon{
        margin-bottom: 30px;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icons {
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg:not(:first-child) {
            margin-left: 10px;
        }
    }

    &__table {
        margin: 20px 0;
        padding: 25px;
        border-radius: 8px;
        border: 1px solid $white;
    }

    &__table-row {
        display: flex;
        align-content: center;
        justify-content: space-between;
        gap: 10px;
    }

    &__table-cell--title {
        font-size: 20px;
    }

    &__table-cell--text {
        display: flex;
        align-items: center;
    }

    &__credit {
        margin-bottom: 30px;
        font-family: $font-family-title;
        font-size: 20px;
    }
}
